*{
    marin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}

table{
    border-collapse: collapse;
    border-radius: 0;
    width: 100%;
    border: none;
    table-layout: fixed;
}

table thead tr th{
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
}

table tbody tr td{
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}
